<head>
    <title>Big Momma's Kitchen</title>

</head>
<body>
    <div class="banner">
    <h1>
        <pre>Welcome To
            Big Momma's Kitchen
        </pre>
    
    </h1>

    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>

    </div>

    <div class = "container1">
        <h2>Recipes</h2> 

    </div>

    <div class = "container2">
        <img src="alice.jpg" alt = "starter dish">
    </div>
</body>
