<head>
    <title>Big Momma's Kitchen</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="assests/icons8-food-truck-64.png">
</head>
<body>

<header>
  <nav>
  <div class="overlay"></div>
    <div class="banner">
    <h1>
            Big Momma's Kitchen
    </h1>

  <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>

      <div class = "Auth-buttons">
        <button class="login btn">Log in</button>
        <button class="signin btn">Sign in</button>

      </div>
    </div>
  </nav>
</header>

    <div class="container">
        <div class="block">
          <span>Starter</span>
        </div>
        <div class="block">
          <span>Main Dish</span>
        </div>
        <div class = "block">
            <span>Dessert</span>
        </div>
        <div class = "block">
            <span>Snacks</span>
        </div>
        <div class = "block">
            <span>Drinks</span>
        </div>
      </div>
      
      <div class="container3">
        <div class="circle">
          <span>Order</span>
        </div>
        <div class="circle">
          <span>Delivery</span>
        </div>
        <div class = "circle">
            <span>Payment</span>
        </div>
      </div>
      
  
        <div class="container5">
          <div class="section">
              <span><pre>
                Vegetable
                Get 40% off on selected items
              </pre></span>
          </div>
          <div class="section">
              <span><pre>
                Fresh Fruits
                Get 60% off on selected items
              </pre></span>
          </div>
      </div>

      <div class="menu-container">
      </div class="item1">
        <h1>Classic Burger</h1>
        <img src="assests/eiliv-aceron-5nvt9BrLaAc-unsplash.jpg" alt="burger">
       <p class = 'description'>
        our new classic burger healthy.
       </p>
       <div class="price">
        <h3>KES 1,600</h3>
       </div>

<!--<main>
      <div class="product-display">
        <button (click)="prevProduct()" [disabled]="currentProductIndex ===0">Previous</button> 
            <img [src]= "products[currentProductIndex].imgSrc" alt="product[currentProductIndex].name">
            <h2>{{products[currentProductIndex].name}}</h2>
            <p class="description">
              {{product.[currentProductIndex].description}}</p>
      
            <div class="nutritional-info">
                <span>Fat: {{products[currentProductIndex].nutritionalInfo.fat}}</span>
                <span>Saturates: {{products[currentProductIndex].nutritionalInfo.saturates}}</span>
                <span>Sugars: {{products[currentProductionIndex].nutritionalInfo.sugars}}</span>
                <span>Salt: {[{{products[currentProductionIndex].nutritionalInfo.salt}}]}</span>
            </div>

            <div class="price-add">
                <span>{{products[currentProductIndex].price}}</span>
                <button>Add to Cart</button>
            </div>
        </div>

      <div class="other-products">
            <div class="product-card">
                <img src="assests/mike-PxJ9zkM2wdA-unsplash.jpg" alt="Double Burger">
                <h3>Double Burger</h3>
                <span>KES 1,800</span>
            </div>
            <div class="product-card">
                <img src="assests/eiliv-aceron-5nvt9BrLaAc-unsplash.jpg" alt="Green Burger">
                <h3>Green Burger</h3>
                <span>KES 2,000</span>
            </div>
            <div class="product-card">
                <img src="assests/eiliv-aceron-uBigm8w_MpA-unsplash.jpg" alt="Taj Chili Burger">
                <h3>Taj Chili Burger</h3>
                <span>KES 2,200</span>
            </div>
            <div class="product-card">
                <img src="assests/food-photographer-E94j3rMcxlw-unsplash.jpg" alt="Healthy Burger">
                <h3>Healthy Burger</h3>
                <span>KES 1,400</span>
            </div>
        </div>
    </div>

  </div>
  <div>
  <button (click)="nextProduct()" [disabled] ="currentProductIndex === products.length-1">Next</button>  
</div>
    </main>-->

   